@using Microsoft.AspNetCore.Components.Forms
@inject Common.IUpdateLastUpdated State

<h3>Metadata Editor</h3>

@if (Metadata != null)
{
    <p>@Metadata.CreationDate</p>

    @if (Metadata.Dataset?.Zone != null)
    {
        <p>@Metadata.Dataset.Zone</p>
    }

    <EditForm EditContext="@EditContext">
        @if (Metadata?.Dataset?.Zone != null)
        {
            <InputText @bind-Value="@Metadata.Dataset.Zone" />
        }
    </EditForm>
}
else
{
    <p>No Metadata loaded</p>
}

<button class="btn btn-primary"
        @onclick="LoadMetadataFile">
    Load Test Data
</button>

@if (AppConfig != null)
{
    <p>Org Name: @AppConfig.OrganizationName</p>
    <select id="zones">
        <option></option>
        @foreach (var zone in AppConfig.Zones)
        {
            <option value="@zone">@zone</option>
        }
    </select>
}
