@inject Common.IHaveMetadataState State
@implements IDisposable

@using Microsoft.AspNetCore.Components.Forms

<h3>MetadataEditor</h3>
<pre>@LastUpdated</pre>
@if (State.Metadata != null)
{
    <p>@State.Metadata.CreationDate</p>
    <p>@State.Metadata.Dataset.Zone</p>
    <EditForm EditContext="@EditContext">
        <CascadingValue Value="@State.Metadata">
            <InputText @bind-Value="@State.Metadata.Dataset.Zone" />
        </CascadingValue>
    </EditForm>
    
}
else
{
    <p>Not loaded</p>
}

<button class="btn btn-primary" @onclick="LoadMetadataFile">Load</button>