@page "/counter"

@inject Caf.Midden.Components.Common.IHaveMessageState MessageState
@inject Caf.Midden.Components.Common.IHaveMetadataState MetadataState
@inject Services.StateContainer state

@implements IDisposable

<h1>Counter</h1>
<h2>GetHashCode() of injected properties</h2>
<p>MessageState: @(MessageState.GetHashCode())</p>
<p>MetadataState: @(MetadataState.GetHashCode())</p>
<p>state: @(state.GetHashCode())</p>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>@MessageState.Message</p>

@if (MetadataState.Metadata != null)
{
    <p>@MetadataState.Metadata.CreationDate</p>
}
else
{
    <p>Not loaded</p>
}

@if (state != null)
{
    <p>LastUpdated: @state.LastUpdated</p>
    <p>State CreationDate: @state.Metadata.CreationDate</p>
}
else
{
    <p>None loaded</p>
}

<div class="alert alert-info">
    <MetadataEditor />
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }


    private async Task State_StateChanged(
            ComponentBase source,
            string property)
    {
        if (source != this)
        {
            // Do work here, provided change of state. Perhaps inspect Metadata to see if changed and save to local cache?
            await InvokeAsync(StateHasChanged);
        }
    }

    protected override void OnInitialized()
    {
        MetadataState.StateChanged += async (source, property) =>
            await State_StateChanged(source, property);
    }

    void IDisposable.Dispose()
    {
        MetadataState.StateChanged -= async (source, property) =>
            await State_StateChanged(source, property);
    }

}
