@inject Caf.Midden.Wasm.Services.StateContainer State
@inject ModalService ModalService

<Divider Orientation="center">Variables</Divider>

@if (State.Catalog != null)
{
    <AntDesign.Row>
        <AntDesign.Col Offset="8" Span="8">
            <Search Placeholder="Search all things"
                    OnChange="SearchHandler"
                    EnterButton="true" @bind-Value="ViewModel.SearchTerm"
                    AllowClear="true"/>
        </AntDesign.Col>
    </AntDesign.Row>

    <Space />
}

@if(ViewModel?.FilteredCatalogVariables != null)
{
<Row Gutter="16">
    <AntDesign.Col Span="24">
        <AntDesign.Table TItem="Caf.Midden.Wasm.Shared.ViewModels.CatalogVariable"
                         DataSource="@ViewModel.FilteredCatalogVariables"
                         Size="@TableSize.Small"
                         ScrollX="2800"
                         Bordered>
            <ChildContent Context="cv">
                <AntDesign.Column TData="string"
                                  @bind-Field="cv.Name"
                                  Fixed="left"
                                  Sortable
                                  Filterable />
                <AntDesign.Column TData="string"
                                  @bind-Field="cv.Description"
                                  Width="600">
                    <textarea readonly
                              rows="@(string.IsNullOrEmpty(cv.Description) ? 1 : cv.Description.Split('\n').Length + 1)"
                              style="width:100%; border:none;">@cv.Description</textarea>
                </AntDesign.Column>
                <AntDesign.Column @bind-Field="cv.Units" />
                <AntDesign.Column @bind-Field="cv.Methods"
                        Width="500">
                    @foreach (var method in cv.Methods)
                        {
                    <textarea readonly
                              rows="@(string.IsNullOrEmpty(method) ? 1 :method.Split('\n').Length + 1)"
                              style="width:100%; border:none;">@method</textarea>
                        }
                </AntDesign.Column>

                <AntDesign.Column @bind-Field="cv.QCApplied"
                                  Title="Quality Control">
                    @foreach (var qc in cv.QCApplied)
                        {
                        <Tag>@qc</Tag>
                        }
                </AntDesign.Column>
                <AntDesign.Column @bind-Field="cv.ProcessingLevel"
                                  TData="string"
                                  Title="Processing"
                                  Filters="FilterProcessing"
                                  OnFilter="(value, processing)=>processing.StartsWith(value)"
                                  FilterMultiple="false">
                    <Tag>@cv.ProcessingLevel</Tag>
                </AntDesign.Column>

                <AntDesign.Column @bind-Field="cv.Tags">
                    @foreach (var tag in cv.Tags)
                        {
                        <Tag>@tag</Tag>
                        }
                </AntDesign.Column>
                <AntDesign.Column TData="string"
                                  @bind-Field="cv.Zone"
                                  Filters="FilterZone"
                                  OnFilter="(value, zone)=>zone.StartsWith(value)"
                                  FilterMultiple="false" />
                <AntDesign.Column @bind-Field="cv.ProjectName"
                                  Title="Project"/>
                <AntDesign.Column TData="string"
                                  @bind-Field="cv.DatasetName"
                                  Title="Dataset"
                                  Sortable />
                <ActionColumn Title="Action"
                              Fixed="right">
                    <Space>
                        <SpaceItem>
                            <Button OnClick="() => OpenMetadataDetailsModalTemplate(cv)">
                                <Icon Type="zoom-in" Theme="outline" /> View
                            </Button>
                        </SpaceItem>
                    </Space>
                </ActionColumn>
            </ChildContent>
        </AntDesign.Table>
    </AntDesign.Col>
</Row>
}