@inject Caf.Midden.Wasm.Services.StateContainer State
@inject ModalService ModalService

@if (this.ShowHeader)
{
    <Divider Orientation="center">Datasets</Divider>
}

@if (State.Catalog != null && this.ShowSearch)
{
    <AntDesign.Row Gutter="8" Align="middle">
        @if (State.AppConfig?.Zones != null && State.AppConfig.Zones.Any())
        {
            <AntDesign.Col Xs="@Property(24,0)" Lg="@Property(2,6)">
                <SimpleSelect 
                    Id="zone" 
                    @bind-Value="SelectedZone" 
                    Placeholder="Select Zone" 
                    AllowClear="true"
                    OnSelectedItemChanged="OnZoneFilterChange">
                    <SelectOptions>
                        @foreach (var zone in State.AppConfig.Zones)
                        {
                            <SimpleSelectOption Value="@zone" Label="@zone" />
                        }
                    </SelectOptions>
                </SimpleSelect>
            </AntDesign.Col>
        }
        <Divider Type="DirectionVHType.Vertical" />
        <AntDesign.Col Xs="@Property(24,0)" Lg="@Property(8,0)">
            <Search Placeholder="Search datasets"
                    OnChange="SearchHandler"
                    EnterButton="true" 
                    @bind-Value="SearchTerm"
                    AllowClear="true" />
        </AntDesign.Col>
    </AntDesign.Row>

    <Space />
}



@if (FilteredMetadata != null)
@if (FilteredMetadata.Count > 0)
{
    <Row Gutter="16" Wrap="true">
        @foreach (var metadata in FilteredMetadata)
        {
            <AntDesign.Col Xs="@Property(24,0)" Lg="@Property(12,0)" Style="padding:5px">

            <Card Class="dataset-card" Style="overflow:hidden">
                <TitleTemplate>
         
                    <Icon Style="color: white;" Type="file-text" Theme="outline" />
                            <a href="catalog/datasets/@metadata.Dataset.Zone/@metadata.Dataset.Project/@metadata.Dataset.Name" style="color: white;">
                        @metadata.Dataset.Name
                    </a>
                    
                </TitleTemplate>
                <Extra>
                    <Button OnClick="() => OpenMetadataDetailsModalTemplate(metadata)">
                        <Icon Type="zoom-in" Theme="outline" />
                    </Button>
                     
                </Extra>
                <Body>
                    <Icon Type="folder" />
                            <a href="catalog/datasets/@metadata.Dataset.Zone">
                        @metadata.Dataset.Zone
                    </a>
                    <Divider Type="DirectionVHType.Vertical" />
                    <Icon Type="project" />
                           
                    <a href="catalog/projects/@metadata.Dataset.Project">
                        @metadata.Dataset.Project
                    </a>
                    <Divider Type="DirectionVHType.Vertical" />
                    <Icon Type="calculator" /> @(metadata.Dataset.Variables.Count())
                    <Divider Type="DirectionVHType.Vertical" />
                    <Icon Type="calendar" /> @metadata.ModifiedDate.ToString("d")
                    
                    <Divider />
                    <div class="truncate">
                    @if (!String.IsNullOrEmpty(metadata.Dataset.Description))
                        {
                            @((MarkupString)(Markdig.Markdown.ToHtml(metadata.Dataset.Description, pipeline)))
                        }
                        else
                        {
                            <Empty Simple />
                        }
                    </div>
                    <Divider />

                    @foreach (var tag in metadata.Dataset.Tags)
                    {
                        <Tag><a href="catalog/datasets/tags/@tag">@tag</a></Tag>
                    }
                </Body>
            </Card>
        </AntDesign.Col>
        }
    </Row>
}
else {
    <Empty Simple />
}

