@inject Caf.Midden.Wasm.Services.StateContainer State
@inject ModalService ModalService

<Divider Orientation="center">Datasets</Divider>

@if (State.Catalog != null)
{
    <AntDesign.Row>
        <AntDesign.Col Offset="8" Span="8">
            <Search Placeholder="Search all things"
                    OnChange="SearchHandler"
                    EnterButton="true" @bind-Value="SearchTerm"
                    AllowClear="true" />
        </AntDesign.Col>
    </AntDesign.Row>
    
    <Space />
}

@if (FilteredMetadata != null)
{
    <Row Gutter="16">
        @foreach (var metadata in FilteredMetadata)
        {
        <AntDesign.Col Span="12" Style="padding:10px">
            <Card Style="overflow:hidden">
                <TitleTemplate>
                    <a href="catalog/datasets/@metadata.Dataset.Zone/@metadata.Dataset.Project/@metadata.Dataset.Name">
                        @metadata.Dataset.Name
                    </a>
                </TitleTemplate>
                <Extra>
                    <Button OnClick="() => OpenMetadataDetailsModalTemplate(metadata)">
                        <Icon Type="zoom-in" Theme="outline" />
                    </Button>
                </Extra>
                <Body>
                    <Icon Type="folder" />
                    <a href="catalog/datasets/@metadata.Dataset.Zone">
                        @metadata.Dataset.Zone
                    </a>
                    <Divider Type="DirectionVHType.Vertical" />
                    <Icon Type="project" />
                    <a href="catalog/projects/@metadata.Dataset.Project">
                        @metadata.Dataset.Project
                    </a>
                    <Divider Type="DirectionVHType.Vertical" />
                    <Icon Type="calendar" /> @metadata.ModifiedDate.ToString("d")
                    <Divider />
                    <div>
                    @if (!String.IsNullOrEmpty(metadata.Dataset.Description))
                        {
                            @((MarkupString)(Markdig.Markdown.ToHtml(metadata.Dataset.Description, pipeline)))
                        }
                        else
                        {
                            <Empty Simple />
                        }
                    </div>
                    <Divider />

                    @foreach (var tag in metadata.Dataset.Tags)
                    {
                        <Tag><a href="catalog/tags/@tag">@tag</a></Tag>
                    }
                </Body>
            </Card>
        </AntDesign.Col>
        }
    </Row>
}