@inject Caf.Midden.Wasm.Services.StateContainer State
@inject ModalService ModalService

@if(ShowHeader)
{
    <Divider Orientation="center">Projects</Divider>
}


@if (State.Catalog != null && ShowSearch)
{
    <AntDesign.Row>
        <AntDesign.Col Xs="@Property(24,0)" Lg="@Property(8,8)">
            <Search Placeholder="Search projects"
                    OnChange="SearchHandler"
                    EnterButton="true" @bind-Value="ViewModel.SearchTerm"
                    AllowClear="true" />
        </AntDesign.Col>
    </AntDesign.Row>
    
    <Space />
}

@if (ViewModel.FilteredCatalogProjects != null)
{
    <Row Gutter="16" Wrap="true">
        @foreach (var project in ViewModel.FilteredCatalogProjects)
        {
            <AntDesign.Col Xs="@Property(24,0)" Lg="@Property(12,0)" Style="padding:5px">
             <Card Style="overflow:hidden">
                <TitleTemplate>
                        <Icon Type="project" Theme="outline" />
                        <a href="catalog/projects/@project.Name">
                        @project.Name
                    </a>
                    
                </TitleTemplate>
                <Extra>
                    @if (!string.IsNullOrEmpty(project.ProjectStatus))
                    {
                        <Tag Style="background-color:white">@project.ProjectStatus</Tag>
                    }

                </Extra>
                <Body>
                    <Icon Type="file-text" /> @project.DatasetCount
                    <Divider Type="DirectionVHType.Vertical" />
                    <Icon Type="calculator" /> @project.VariableCount 
                    @if(project.LastModified is not null)
                    {
                        <Divider Type="DirectionVHType.Vertical" />
                        <Icon Type="calendar" /> @project.LastModified?.ToString("d")
                    }
                    <Divider />
                        <div class="truncate">@((MarkupString)project.MarkdownDescription)</div>
                    </Body>
            </Card>
        </AntDesign.Col>
        }
    </Row>
}
