@using AntDesign
@inject Caf.Midden.Wasm.Services.StateContainer State
@inject ModalService ModalService
@inject IJSRuntime JS

<Space>
    <SpaceItem>
        <Popconfirm Title="Confirm reset"
                    OkText="Reset"
                    CancelText="Cancel"
                    OnConfirm="NewMetadata">
            <Button><Icon Type="plus" Theme="outline" /> New</Button>
        </Popconfirm>
    </SpaceItem>
    <SpaceItem>
        <MetadataLoaderFileSystem @bind-Metadata="State.MetadataEdit" />
    </SpaceItem>
</Space>
<AntDesign.Divider />

@if (State?.MetadataEdit != null && State?.AppConfig != null)
{
    <AntDesign.Form Model="State.MetadataEdit"
                    Layout="@FormLayout.Vertical"
                    ValidateMode="@FormValidateMode.Rules"
                    @ref="form">
        <Tabs Animated>
            <TabPane Key="1" Tab="Basic">
                <EditorFormItemWithHelpPopup 
                    Label="Zone" 
                    Id="zone" 
                    Tooltip="@ZoneTooltip"
                    Rules="@(new FormValidationRule[] { new FormValidationRule{ Required = true }})">
                    <SimpleSelect Id="zone" @bind-Value="@context.Dataset.Zone"
                                    Placeholder="Zone that holds dataset">
                            <SelectOptions>
                                @foreach (var zone in State.AppConfig.Zones)
                                {
                                <SimpleSelectOption Value=@zone Label=@zone />
                                }
                            </SelectOptions>
                        </SimpleSelect>
                </EditorFormItemWithHelpPopup>
               
                <EditorFormItemWithHelpPopup 
                    Label="Name" 
                    Id="name" 
                    Tooltip="@DatasetNameTooltip"
                    Rules="@(new FormValidationRule[] { new FormValidationRule{ Required = true, Type = FormFieldType.String, Min = 2 }})">
                    <AntDesign.Input Id="name" @bind-Value="context.Dataset.Name"
                                                    Placeholder="Name of dataset" />
                </EditorFormItemWithHelpPopup>
                
                <EditorFormItemWithHelpPopup 
                    Label="Project" 
                    Id="project" 
                    Tooltip="@ProjectTooltip"
                    Rules="@(new FormValidationRule[] { new FormValidationRule{ Required = true, Type = FormFieldType.String, Min = 2 }})">
                    <AntDesign.Input Id="project" @bind-Value="context.Dataset.Project"
                                        Placeholder="Name of project that produced the dataset" />
                </EditorFormItemWithHelpPopup>

                <EditorFormItemWithHelpPopup 
                    Label="Description" 
                    Id="description" 
                    Tooltip="@DatasetDescriptionTooltip" IsRequired=false>
                    <MarkdownEditor @bind-Value="@context.Dataset.Description"
                            ValueHTMLChanged="@OnMarkdownDescriptionValueHTMLChanged" />
                </EditorFormItemWithHelpPopup>

                <EditorFormItemWithHelpPopup 
                    Label="Contacts" 
                    Id="contacts" 
                    Tooltip="@ContactsTooltip">
                    <Button OnClick="AddContactHandler">Add</Button>
                    <br /><br />
                    @if (context.Dataset.Contacts.Count > 0)
                    {
                        <AntDesign.Table TItem="Caf.Midden.Core.Models.v0_2.Person"
                                            DataSource="@context.Dataset.Contacts"
                                            HidePagination="@true">
                            <ChildContent Context="contact">
                                <AntDesign.Column @bind-Field="contact.Name"
                                                    Width="30%" />
                                <AntDesign.Column @bind-Field="contact.Email"
                                                    Width="30%" />
                                <AntDesign.Column @bind-Field="contact.Role"
                                                    Width="30%" />
                                <ActionColumn Title="Action">
                                    <Space>
                                        <SpaceItem>
                                            <Button OnClick="() => OpenPersonModalTemplate(contact)">
                                                <Icon Type="edit" />
                                            </Button>
                                        </SpaceItem>
                                        <SpaceItem>
                                            <Button Danger OnClick="() => DeleteContactHandler(contact)">
                                                <Icon Type="delete" />
                                            </Button>
                                        </SpaceItem>
                                    </Space>
                                </ActionColumn>
                            </ChildContent>

                        </AntDesign.Table>
                    }
                </EditorFormItemWithHelpPopup>

                <EditorFormItemWithHelpPopup Label="Tags" Id="tags" Tooltip="@DatasetTagsTooltip" IsRequired=false>
                    <Space Style="width:100%;">
                        <SpaceItem>
                            <Input @bind-Value="NewDatasetTag" />
                        </SpaceItem>
                        <SpaceItem>
                            <Button OnClick="AddDatasetTagHandler">Add</Button>
                        </SpaceItem>
                        <SpaceItem><Divider Type="DirectionVHType.Vertical" /></SpaceItem>
                        <div style="width: 100%;">
                            <SpaceItem>
                                <SimpleSelect Placeholder="Add saved tag"
                                                OnSelectedItemChanged="DatasetTagSelectedItemChangedHandler"
                                                EnableSearch
                                                @bind-Value="SavedDatasetTag"
                                                AutoClearSearchValue>
                                    <SelectOptions>
                                        @foreach (var tag in State.AppConfig.Tags)
                                        {
                                            <SimpleSelectOption Value=@tag Label=@tag />
                                        }
                                    </SelectOptions>
                                </SimpleSelect>
                            </SpaceItem>
                        </div>
                    </Space>

                    <br />

                    @if (context.Dataset.Tags.Count > 0)
                    {
                        <AntList DataSource="@context.Dataset.Tags">
                            <ChildContent Context="tag">
                                <ListItem>
                                    <span><Tag>@tag</Tag></span>
                                    <Button Danger OnClick="() => DeleteDatasetTagHandler(tag)">
                                        <Icon Type="delete" />
                                    </Button>
                                </ListItem>
                            </ChildContent>
                        </AntList>
                    }
                </EditorFormItemWithHelpPopup>

            </TabPane>
            <TabPane Key="2" Tab="Variables">

                <EditorFormItemWithHelpPopup Label="Variables" Id="variables" Tooltip="@VariablesTooltip" IsRequired=false>
                    <Space>
                        <SpaceItem>
                            <Button OnClick="AddVariableHandler">Add</Button>
                        </SpaceItem>
                        <SpaceItem>
                            <DataDictionaryLoaderCafCsv />
                        </SpaceItem>
                        <SpaceItem>
                            <AntDesign.Tooltip Title="@("WARNING: Uploading will replace all current variables. The uploaded file must be a CSV with the following column headers: FieldName, Units, Description")">
                                <Icon Type="info-circle" Theme="fill" />
                            </AntDesign.Tooltip>
                        </SpaceItem>
                    </Space>

                    <br /><br />
                   

                    @if (context.Dataset.Variables.Count > 0)
                    {
                        <AntDesign.Table TItem="Caf.Midden.Core.Models.v0_2.Variable"
                                            DataSource="@context.Dataset.Variables"
                                            Size="@TableSize.Small"
                                            ScrollX="1400"
                                            PageSize="50">
                            <ChildContent Context="variable">

                                
                                <AntDesign.Column @bind-Field="variable.Name"
                                                    Fixed="left">
                                                    @if(VariableQuickEditRef == variable)
                                                    {
                                    <Input @bind-Value="QuickEditViewModel.Variable.Name" />
                                }
                                else
                                {
                                    <div>@variable.Name</div>
                                }

                                                    </AntDesign.Column>
                                <AntDesign.Column @bind-Field="variable.Description"
                                                    Ellipsis />
                                <AntDesign.Column @bind-Field="variable.Units">
                                    @if(VariableQuickEditRef == variable)
                                    {
                                    <Input @bind-Value="QuickEditViewModel.Variable.Units" />
                                }
                                else
                                {
                                    <div>@variable.Units</div>
                                }
                            </AntDesign.Column>
                                <AntDesign.Column @bind-Field="variable.Methods"
                                                    Ellipsis>
                                    @foreach (var method in variable.Methods)
                                        {
                                        <p>@method</p>
                                        }
                                </AntDesign.Column>

                                <AntDesign.Column @bind-Field="variable.QCApplied"
                                                    Title="Quality Control">
                                @if(VariableQuickEditRef == variable)
                                {
                                    <Select Mode="multiple"
                                            Placeholder="Select Quality Control"
                                            @bind-Values="QuickEditViewModel.SelectedQCApplied"
                                            TItemValue="string"
                                            TItem="string">
                                        <SelectOptions>
                                            @foreach (var item in QuickEditViewModel.QCFlags)
                                            {
                                                <SelectOption TItemValue="string" TItem="string" Value=@item Label=@item />
                                            }
                                        </SelectOptions>
                                    </Select>
                                }
                                else
                                {
                                    @foreach (var qc in variable.QCApplied)
                                    {
                                        <Tag>@qc</Tag>
                                    }
                                }
                                
                                </AntDesign.Column>


                                <AntDesign.Column @bind-Field="variable.ProcessingLevel"
                                                    Title="Processing">
                                @if(VariableQuickEditRef == variable)
                                {
                                    <SimpleSelect Id="variable-processing" @bind-Value="@QuickEditViewModel.Variable.ProcessingLevel"
                                                  Placeholder="Processing Level">
                                        <SelectOptions>
                                            @foreach (var item in QuickEditViewModel.ProcessingLevels)
                                            {
                                                <SimpleSelectOption Value=@item Label=@item />
                                            }
                                        </SelectOptions>
                                    </SimpleSelect>
                                }
                                else
                                {
                                    <Tag>@variable.ProcessingLevel</Tag>
                                }
                                
                                </AntDesign.Column>


                            <AntDesign.Column @bind-Field="variable.VariableType"
                                              Title="Type">
                                @if(VariableQuickEditRef == variable)
                                {
                                    <SimpleSelect Id="variable-type" @bind-Value="@QuickEditViewModel.Variable.VariableType"
                                                  Placeholder="Variable Type">
                                        <SelectOptions>
                                            @foreach (var item in QuickEditViewModel.VariableTypes)
                                            {
                                                <SimpleSelectOption Value=@item Label=@item />
                                            }
                                        </SelectOptions>
                                    </SimpleSelect>
                                }
                                else
                                {
                                    <Tag>@variable.VariableType</Tag>
                                }
                                
                            </AntDesign.Column>

                                <AntDesign.Column @bind-Field="variable.Tags">
                                    @foreach (var tag in variable.Tags)
                                        {
                                        <Tag>@tag</Tag>
                                        }
                                </AntDesign.Column>
<!-- Depricated                 <AntDesign.Column @bind-Field="variable.Height" /> -->
                                <ActionColumn Title="Action"
                                                Fixed="right">
                                    <Space>
                                    <SpaceItem>
                                        @if(VariableQuickEditRef == variable)
                                            {
                                                <Button Type="@ButtonType.Link" OnClick="()=>EndQuickEdit()"><Icon Type="check"></Icon></Button>
                                            }
                                            else
                                            {
                                                <Button Type="@ButtonType.Link" OnClick="()=>StartQuickEdit(variable)"><Icon Type="edit"></Icon></Button>
                                            }
                                        </SpaceItem>
                                        <SpaceItem>
                                            <Button OnClick="() => OpenVariableModalTemplate(variable)">
                                                <Icon Type="edit" />
                                            </Button>
                                        </SpaceItem>
                                        <SpaceItem>
                                            <Button Danger OnClick="() => DeleteVariableHandler(variable)">
                                                <Icon Type="delete" />
                                            </Button>
                                        </SpaceItem>
                                    </Space>
                                </ActionColumn>
                            </ChildContent>
                        </AntDesign.Table>
                    }
                </EditorFormItemWithHelpPopup>

            </TabPane>
            <TabPane Key="3" Tab="Coverage">
                <EditorFormItemWithHelpPopup Label="Spatial Repeats" Id="spatial-repeats" Tooltip="@SpatialRepeatsTooltip" IsRequired=false>
                    <AntDesign.InputNumber Id="spatial-repeats"
                                            @bind-Value="context.Dataset.SpatialRepeats" />
                </EditorFormItemWithHelpPopup>

                <EditorFormItemWithHelpPopup Label="Spatial Extent" Id="spatial-extent" Tooltip="@SpatialExtentTooltip" IsRequired=false>
                    <FormItem>
                        <SimpleSelect Id="spatial-extent" @bind-Value="this.GeometryTemplate"
                                        Placeholder="Saved values"
                                        AllowClear="true"
                                        OnSelectedItemChanged="OnGeometryItemChangedHandler">
                            <SelectOptions>
                                @if (State.AppConfig.Geometries != null)
                                {
                                    @foreach (var geom in State.AppConfig.Geometries)
                                    {
                                        <SimpleSelectOption Value="@geom.GeoJson"
                                                            Label="@geom.Name" />
                                    }
                                }
                            </SelectOptions>
                        </SimpleSelect>
                    </FormItem>
                    <FormItem>
                        <AntDesign.TextArea @bind-Value="context.Dataset.Geometry"
                                            Placeholder="Valid geojson" />
                    </FormItem>
                </EditorFormItemWithHelpPopup>

                <EditorFormItemWithHelpPopup Label="Temporal Resolution" Id="temporal-resolution" Tooltip="@TemporalResolutionTooltip" IsRequired=false>
                    <AntDesign.Input Id="temporal-resolution" @bind-Value="context.Dataset.TemporalResolution"
                                        Placeholder="e.g. '15 min'" />
                </EditorFormItemWithHelpPopup>

                <EditorFormItemWithHelpPopup Label="Temporal Extent" Id="temporal-extent" Tooltip="@TemporalExtentTooltip" IsRequired=false>
                    <AntDesign.Input Id="temporal-extent" @bind-Value="context.Dataset.TemporalExtent"
                                 Placeholder="YYYY-MM-DD/YYYY-MM-DD" />
                </EditorFormItemWithHelpPopup>

            </TabPane>
            <TabPane Key="4" Tab="Structure">
                <EditorFormItemWithHelpPopup Label="File Format" Id="file-format" Tooltip="@FileFormatTooltip" IsRequired=false>
                    <AntDesign.Input Id="file-format" @bind-Value="context.Dataset.Format"
                                 Placeholder="Format, usually file extension" />
                </EditorFormItemWithHelpPopup>

                <EditorFormItemWithHelpPopup Label="File Path Template" Id="file-path-template" Tooltip="@FilePathTemplateTooltip" IsRequired=false>
                    <AntDesign.Input Id="file-path-template" @bind-Value="context.Dataset.FilePathTemplate"
                                 Placeholder="e.g. '{YYYY}/Filename_{YYYYMMDD}.csv'" />
                </EditorFormItemWithHelpPopup>

                <EditorFormItemWithHelpPopup Label="File Path Description" Id="file-path-description" Tooltip="@FilePathDescriptionTooltip" IsRequired=false>
                    <AntDesign.TextArea Id="file-path-description" @bind-Value="context.Dataset.FilePathDescriptor"
                                        Placeholder="Describe template values; e.g. {YYYY}" />
                </EditorFormItemWithHelpPopup>

                <EditorFormItemWithHelpPopup Label="Dataset Structure" Id="dataset-structure" Tooltip="@DatasetStructureTooltip" IsRequired=false>
                    <SimpleSelect Id="dataset-structure" @bind-Value="context.Dataset.Structure"
                              Placeholder="Select">
                        <SelectOptions>
                            @if (State.AppConfig.DatasetStructures != null)
                            {
                                @foreach (var structure in State.AppConfig.DatasetStructures)
                                {
                                    <AntDesign.SimpleSelectOption Value="@structure"
                                                      Label="@structure" />
                                }
                            }
                        </SelectOptions>
                    </SimpleSelect>
                </EditorFormItemWithHelpPopup>


            </TabPane>
            <TabPane Key="5" Tab="Processing">

                <EditorFormItemWithHelpPopup Label="Methods" Id="methods" Tooltip="@DatasetMethodsTooltip" IsRequired=false>
                    <InputGroup>
                        <Row Justify="space-between">
                            <AntDesign.Col Span="20">
                                <Input Id="methods" @bind-Value="NewDatasetMethod"
                                    Placeholder="Enter URL, text, or markdown"/>
                            </AntDesign.Col>
                            <AntDesign.Col Span="4">
                                <Button OnClick="AddDatasetMethodHandler">Add</Button>
                            </AntDesign.Col>
                        </Row>
                    </InputGroup>
                    <br />
                    @if (context.Dataset.Methods.Count > 0)
                    {
                        <AntList DataSource="@context.Dataset.Methods"
                                    Size="small">
                            <ChildContent Context="method">
                                <ListItem>
                                    <span><Text>@method</Text></span>
                                    <Button Danger OnClick="() => DeleteDatasetMethodHandler(method)">
                                        <Icon Type="delete" />
                                    </Button>
                                </ListItem>
                            </ChildContent>
                        </AntList>
                    }
                </EditorFormItemWithHelpPopup>

                <EditorFormItemWithHelpPopup Label="Parent Datasets" Id="parent-datasets" Tooltip="@ParentDatasetsTooltip" IsRequired=false>
                    <InputGroup>
                        <Row Justify="space-between">
                            <AntDesign.Col Span="20">
                                <Input Id="parent-datasets" @bind-Value="NewParentDataset"
                                   Placeholder="Enter URL" />
                            </AntDesign.Col>
                            <AntDesign.Col Span="4">
                                <Button OnClick="AddParentDatasetHandler">Add</Button>
                            </AntDesign.Col>
                        </Row>
                    </InputGroup>
                    <br />
                    @if (context.Dataset.ParentDatasets.Count > 0)
                    {
                        <AntList DataSource="@context.Dataset.ParentDatasets">
                            <ChildContent Context="parentDataset">
                                <ListItem>
                                    <span><Text>@parentDataset</Text></span>
                                    <Button Danger OnClick="() => DeleteParentDatasetHandler(parentDataset)">
                                        <Icon Type="delete" />
                                    </Button>
                                </ListItem>
                            </ChildContent>
                        </AntList>
                    }
                </EditorFormItemWithHelpPopup>

                <EditorFormItemWithHelpPopup Label="Derived Works" Id="derived-works" Tooltip="@DerivedWorksTooltip" IsRequired=false>
                    <InputGroup>
                        <Row Justify="space-between">
                            <AntDesign.Col Span="20">
                                <Input Id="derived-works" @bind-Value="NewDerivedWork" />
                            </AntDesign.Col>
                            <AntDesign.Col Span="4">
                                <Button OnClick="AddDerivedWorkHandler">Add</Button>
                            </AntDesign.Col>
                        </Row>
                    </InputGroup>
                    <br />
                    @if (context.Dataset.DerivedWorks.Count > 0)
                    {
                        <AntList DataSource="@context.Dataset.DerivedWorks">
                            <ChildContent Context="derived">
                                <ListItem>
                                    <span><Text>@derived</Text></span>
                                    <Button Danger OnClick="() => DeleteDerivedWorkHandler(derived)">
                                        <Icon Type="delete" />
                                    </Button>
                                </ListItem>
                            </ChildContent>
                        </AntList>
                    }
                </EditorFormItemWithHelpPopup>

            </TabPane>
        </Tabs>
    </AntDesign.Form>
    <Divider />
    <Row Justify="end">
        <Button Type="default" OnClick="() => OpenMetadataDetailsModalTemplate(State.MetadataEdit)">
            <Icon Type="eye" />
            Preview
        </Button>
        <Button Type="primary" OnClick="SaveDataset">
            <Icon Type="download" />
            Download
        </Button>
    </Row>
}
else
{
    <p>No Metadata loaded</p>
}