@inject Caf.Midden.Wasm.Services.StateContainer State

@if (this.Metadata != null)
{
    <PageHeader Class="site-page-header" Title="@Metadata.Dataset.Name" Subtitle="@($"Last updated: {Metadata.ModifiedDate}")">
        
    </PageHeader>
    
    <Row>
        <AntDesign.Col Span="24" Style="padding:5px">
            <Icon Type="folder" />
            <a href="catalog/datasets/@Metadata.Dataset.Zone">
                @Metadata.Dataset.Zone
            </a>
            <Divider Type="DirectionVHType.Vertical" />
            <Icon Type="project" />
            <a href="catalog/projects/@Metadata.Dataset.Project">
                @Metadata.Dataset.Project
            </a>
        </AntDesign.Col>
    </Row>
    <Divider />
    <Row>
        <AntDesign.Col Span="17">
            <Row>
                <AntDesign.Col Span="24" Style="padding:5px">
                    <Card>
                        <TitleTemplate>
                            <Icon Type="read" Theme="outline" /> Description
                        </TitleTemplate>
                        <Body>
                        @if (!String.IsNullOrEmpty(Metadata.Dataset.Description))
                        {
                            @((MarkupString)(Markdig.Markdown.ToHtml(Metadata.Dataset.Description, pipeline)))
                        }
                        else
                        {
                            <Empty Simple />
                        }
                        </Body>
                    </Card>
                </AntDesign.Col>
            </Row>
            <Row>
                <AntDesign.Col Span="@((Metadata.Dataset.Methods == null) || (!Metadata.Dataset.Methods.Any()) ? 0 : 24)" Style="padding:5px">
                    <AntList Bordered DataSource="@Metadata.Dataset.Methods">
                        <Header>
                            <Icon Type="experiment" Theme="outline" /> Methods
                        </Header>
                        <ChildContent Context="method">
                            <ListItem Style="overflow:auto;">
                                <textarea readonly
                                          rows="@(string.IsNullOrEmpty(method) ? 1 : method.Split('\n').Length + 1)"
                                          style="width:100%; border:none;">@method</textarea>
                            </ListItem>
                        </ChildContent>
                    </AntList>
                </AntDesign.Col>
            </Row>
            <Row>
                <AntDesign.Col Span="@((Metadata.Dataset.ParentDatasets == null) || (!Metadata.Dataset.ParentDatasets.Any()) ? 0 : 24)" Style="padding:5px">
                    <AntList Bordered DataSource="@Metadata.Dataset.ParentDatasets">
                        <Header>
                            <Icon Type="comment" Theme="outline" /> Parent Datasets
                        </Header>
                        <ChildContent Context="parentDataset">
                            <ListItem Style="overflow:auto;">
                                <textarea readonly
                                          rows="@(string.IsNullOrEmpty(parentDataset) ? 1 : parentDataset.Split('\n').Length + 1)"
                                          style="width:100%; border:none;">@parentDataset</textarea>
                            </ListItem>
                        </ChildContent>
                    </AntList>
                </AntDesign.Col>
            </Row>
            <Row>
                <AntDesign.Col Span="@((Metadata.Dataset.DerivedWorks == null) || (!Metadata.Dataset.DerivedWorks.Any()) ? 0 : 24)" Style="padding:5px">
                    <AntList Bordered DataSource="@Metadata.Dataset.DerivedWorks">
                        <Header>
                            <Icon Type="comment" Theme="outline" /> Derived Works
                        </Header>
                        <ChildContent Context="derived">
                            <ListItem Style="overflow:auto;">
                                <textarea readonly
                                          rows="@(string.IsNullOrEmpty(derived) ? 1 : derived.Split('\n').Length + 1)"
                                          style="width:100%; border:none;">@derived</textarea>
                            </ListItem>
                        </ChildContent>
                    </AntList>
                </AntDesign.Col>
            </Row>
            <Row>
                <AntDesign.Col Span="@((string.IsNullOrEmpty(Metadata.Dataset.DatasetPath) && string.IsNullOrEmpty(Metadata.Dataset.Format) && string.IsNullOrEmpty(Metadata.Dataset.FilePathTemplate) && string.IsNullOrEmpty(Metadata.Dataset.FilePathDescriptor))  ? 0 : 24)" Style="padding:5px">
                    <Card>
                        <TitleTemplate>
                            <Icon Type="database" Theme="outline" /> File Information
                        </TitleTemplate>
                        <Body>
                            @if (!string.IsNullOrEmpty(Metadata.Dataset.DatasetPath))
                            {
                                <p><strong>Dataset Path</strong>: @Metadata.Dataset.DatasetPath</p>
                            }
                            <p><strong>Format</strong>: @Metadata.Dataset.Format</p>
                            <p><strong>Path Template</strong>: @Metadata.Dataset.FilePathTemplate</p>
                            <p><strong>Path Description</strong>: @Metadata.Dataset.FilePathDescriptor</p>
                        </Body>
                    </Card>
                </AntDesign.Col>
            </Row>
            <Row>
                <AntDesign.Col Span="@((Metadata.Dataset.Variables == null) || (!Metadata.Dataset.Variables.Any()) ? 0 : 24)" Style="padding:5px;">
                    <Card>
                        <TitleTemplate>
                            <Icon Type="calculator" Theme="outline" /> Variables
                        </TitleTemplate>
                        <Body>
                            @if (Metadata.Dataset.Variables?.Count > 0)
                            {
                                <AntDesign.Table TItem="Caf.Midden.Core.Models.v0_2.Variable"
                                                 DataSource="@Metadata.Dataset.Variables"
                                                 Size="@TableSize.Small"
                                                 ScrollX="@Convert.ToString(TableWidth)"
                                                 Bordered>
                                    <ChildContent Context="variable">
                                        <AntDesign.Column TData="string"
                                                          @bind-Field="variable.Name" 
                                                          Width="200"
                                                          Fixed="left"
                                                          Filterable
                                                          Sortable />
                                        <AntDesign.Column @bind-Field="variable.Description"
                                                          Width="400">
                                            <textarea readonly
                                                      rows="@(string.IsNullOrEmpty(variable.Description) ? 1 : variable.Description.Split('\n').Length + 1)"
                                                      style="width:100%; border:none;">@variable.Description</textarea>
                                        </AntDesign.Column>
                                        <AntDesign.Column @bind-Field="variable.Units" 
                                                          Width="100" />

                                        @if (VarsHaveMethods)
                                        {
                                            <AntDesign.Column @bind-Field="variable.Methods" 
                                                              Width="400">
                                                @foreach (var method in variable.Methods)
                                                            {
                                                    <textarea readonly
                                                              rows="@(string.IsNullOrEmpty(method) ? 1 :method.Split('\n').Length + 1)"
                                                              style="width:100%; border:none;">@method</textarea>
                                                            }
                                            </AntDesign.Column>
                                        }

                                        @if (VarsHaveQCApplied)
                                        {
                                            <AntDesign.Column @bind-Field="variable.QCApplied"
                                                              Title="Quality Control" 
                                                              Width="100">
                                                @foreach (var qc in variable.QCApplied)
                                                            {
                                                    <Tag>@qc</Tag>
                                                            }
                                            </AntDesign.Column>
                                        }

                                        @if (VarsHaveProcessingLevel)
                                        {
                                            <AntDesign.Column @bind-Field="variable.ProcessingLevel"
                                                              TData="string"
                                                              Title="Processing" 
                                                              Width="100"
                                                              Filters="FilterProcessing"
                                                              OnFilter="(value, processing)=>processing.StartsWith(value)"
                                                              FilterMultiple="false">
                                                <Tag>@variable.ProcessingLevel</Tag>
                                            </AntDesign.Column>
                                        }

                                        @if(VarsHaveTags)
                                        {
                                            <AntDesign.Column @bind-Field="variable.Tags" 
                                                              Width="100">
                                                @foreach (var tag in variable.Tags)
                                                            {
                                                    <Tag>@tag</Tag>
                                                            }
                                            </AntDesign.Column>
                                        }
                                        @if(VarsHaveHeight)
                                        {
                                            <AntDesign.Column @bind-Field="variable.Height" 
                                                              Width="50"/>
                                        }
                                    </ChildContent>
                                </AntDesign.Table>
                            }
                        </Body>
                    </Card>
                </AntDesign.Col>
            </Row>
        </AntDesign.Col>
        <AntDesign.Col Span="7">
            <Row>
                <AntDesign.Col Span="@(string.IsNullOrEmpty(Metadata.Dataset.Geometry) ? 0 : 24)" Style="padding:5px">
                    <Card>
                        <TitleTemplate>
                            <Icon Type="environment" Theme="outline" /> Spatial Information
                        </TitleTemplate>
                        <Body>
                            @if (Metadata.Dataset.Geometry != null)
                            {
                                <GeoJsonMap Geometry="@Metadata.Dataset.Geometry" />
                            }
                            <p><strong>Resolution</strong>: @Metadata.Dataset.SpatialRepeats</p>
                        </Body>
                    </Card>
                </AntDesign.Col>
            </Row>
            <Row>
                <AntDesign.Col Span="@((string.IsNullOrEmpty(Metadata.Dataset.TemporalExtent) && string.IsNullOrEmpty(Metadata.Dataset.TemporalResolution)) ? 0 : 24)" Style="padding:5px;">
                    <Card>
                        <TitleTemplate>
                            <Icon Type="clock-circle" Theme="outline" /> Temporal Information
                        </TitleTemplate>
                        <Body>
                            <p><strong>Start/End</strong>: @Metadata.Dataset.TemporalExtent</p>
                            <p><strong>Resolution</strong>: @Metadata.Dataset.TemporalResolution</p>
                        </Body>
                    </Card>
                </AntDesign.Col>
            </Row>
            <Row>
                <AntDesign.Col Span="24" Style="padding:5px">
                    <Card>
                        <TitleTemplate>
                            <Icon Type="user" Theme="outline" /> Contacts
                        </TitleTemplate>
                        <Body>
                            <AntDesign.Table TItem="Caf.Midden.Core.Models.v0_2.Person"
                                             DataSource="@Metadata.Dataset.Contacts"
                                             HidePagination="@true">
                                <ChildContent Context="contact">
                                    <AntDesign.Column @bind-Field="contact.Name">
                                        <a href="mailto:@contact.Email">@contact.Name</a>
                                    </AntDesign.Column>
                                    <AntDesign.Column @bind-Field="contact.Role" />
                                </ChildContent>
                            </AntDesign.Table>
                        </Body>
                    </Card>
                </AntDesign.Col>
            </Row>
            <Row>
                <AntDesign.Col Span="@((Metadata.Dataset.Tags == null) || (!Metadata.Dataset.Tags.Any()) ? 0 : 24)" Style="padding:5px">
                    <Card Title="Tags">
                        <TitleTemplate>
                            <Icon Type="tags" Theme="outline" /> Tags
                        </TitleTemplate>
                        <Body>
                            @foreach (var tag in Metadata.Dataset.Tags)
                            {
                            <Tag><a href="catalog/datasets/tags/@tag">@tag</a></Tag>
                            }
                        </Body>
                    </Card>
                </AntDesign.Col>
            </Row>
        </AntDesign.Col>
    </Row>
}
